
/* .boxcontainer>div {   border-width: 10px;
  border-style: none;   border-color: brown } */

.col1 {
  color: white;
  background-color: blue;
  /* flex-grow: 2; */
  /* flex-shrink: 0; */
  flex-basis: 300;
  /* width: 100px; */
}

.col2 {
  color: white;
  background-color: rgb(15, 88, 77);
  /* flex-grow: 3 ; */
  /* flex-shrink: 3; */
}

.col3 {
  color: white;
  background-color: #3f2f2f;
  /* flex-grow: 1; */
}


.col4 {
  color: white;
  background-color: #4e511c;
  /* flex-grow: 1; */
}





.columns{
  font-weight:bold;
  /* width: 200px; */
  height: 100px;
  /* flex-basis: 400px; */
  /* max-width: 200px;
  min-width: 100px;  */
  
}




/* .boxcontainer > .para1 {
  color: white;
  background-color: blue;
}

.boxcontainer > .para2 {
  color: white;
  background-color: rgb(15, 88, 77);
}

.boxcontainer > .para3 {
  color: white;
  background-color: rgb(255, 68, 0);
}

.boxcontainer > .para4 {
  color: #000000;
  background-color: #d9ef6a;
  
} */


.boxcontainer{
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-grow: 0;
  flex-shrink: 0;



  /* background-color: aquamarine;  */
  
}








    